<!-- 
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
| DripHighchartsLine.vue
|- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - 
| 
| Highchart component for displaying the Email Drip Reports.
| 
 -->

<template>
    <div>
        <div v-if="shouldDrawChart" id="chart"></div>
        <div v-else>No report for the selected Campaign</div>
    </div>
</template>

<script>
import Highcharts from 'highcharts'

export default {
    /**
     * Expects the following props: 
     * 
     * @type {Array} options    | Highcharts options for drawing the chart
     * @type {Array} categories | The X bottom axis
     * @type {Array} series     | The data to be displayed
     */
    props: ['options', 'categories', 'series'],

    data() {
        return {
            /**
             * Holds the current chart.
             * 
             * @type {Object}
             */
            chart: null,
        }
    },

    computed: {
        /**
         * Only draw the chart if the series array is not empty.
         * 
         * @return {boolean} True if there is content to be displayed
         */
        shouldDrawChart() {
            return this.series.length > 0;
        },
    },

    watch: {
        /**
         * Update chart everytime series changes.
         */
        series() {
            if (this.shouldDrawChart) {
                this.mountChart();
                this.updateChart()
            }
        },

        /**
         * Update chart everytime categories changes.
         */
        categories() {
            if (this.shouldDrawChart) {
                this.mountChart();
                this.updateChart()
            }
        },
    },

    methods: {
        /**
         * Mount the chart.
         */
        mountChart() {
            Vue.nextTick(() => {
                // Destroying the chart, if any, to be sure that we get a correct new chart.
                if (this.chart != null) {
                    this.chart.destroy();
                }

                // The #chart div element may not be loaded, so Highcharts throws an error. 
                // However, the chart is rendered successfully despite that, 
                // so the try/catch block just prevent the exception,
                try {
                    this.chart = Highcharts.chart('chart', this.options);
                } catch (e) {}
            })
        },

        /**
         * Update and redraw chart.
         */
        updateChart() {
            Vue.nextTick(() => {
                // Set categories without redrawing the chart.
                this.chart.xAxis[0].setCategories(this.categories, false);

                // Set series without redrawing the chart.
                this.series.map(serie => this.chart.addSeries(serie, false))

                // Redraw chart.
                this.chart.redraw()    
            })
        },
    },

    mounted() {
        this.mountChart();
    },
}
</script>